@use '../../settings/variables';
@use '../../tools/mixins';

.g-about-us {
	background-color: variables.$background-lightest-white;

	&__container {
		padding-inline: variables.$space-7;
		padding-block: variables.$space-16;
	}

	&__title {
		margin-block-end: variables.$space-7;
		text-align: center;
		text-transform: uppercase;
	}

	&__text {
		margin-block-end: variables.$space-4;

		&:last-child {
			margin-block-end: 0;
		}
	}

	&__plataforms {
		gap: variables.$space-8;
		margin-block-end: variables.$space-4;

		@include mixins.center-flex;
	}

	&__img {
		display: none;
	}
}
