@use '../settings/variables';
@use '../tools/mixins';

.skip-link {
	position: absolute;
	display: inline-block;
	overflow: hidden;
	padding: variables.$space-4;
	border-radius: variables.$border-2;
	margin-inline: variables.$space-6;
	margin-block-start: variables.$space-6;
	background-color: variables.$background-pure-blue;
	font-weight: variables.$weight-bold;
	color: variables.$text-color-light;
	transition: transform variables.$time-001;
	transform: translateY(-200%);

	&:focus-visible {
		transform: translateY(0%);

		@include mixins.focus-skip-link;
	}
}
