@use '../../settings/variables';

.g-header {
	border-color: variables.$background-black;
	background-color: variables.$background-black;

	&__container {
		flex-direction: row;
		justify-content: space-between;
		max-width: variables.$max-width;
		padding-inline: variables.$space-10;
		margin-inline: auto;
	}
}
