.llamada {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 12.25rem;
	padding-bottom: 2.5rem;
	background-color: #00161c;
	color: #fff;
	text-align: center;
}

.llamada__titulo {
	margin-bottom: 1.5rem;
	font-family: Montserrat, serif;
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
}

.llamada__texto {
	margin: 0 auto 2.5rem;
	font-size: 1.25rem;
	line-height: normal;
}

.llamada__boton {
	width: 100%;
}
