@use '../../settings/variables';
@use '../../tools/mixins';

.g-institutional {
	padding-block-end: variables.$space-16;

	&__content-container {
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		max-width: variables.$max-width;
		padding-inline: variables.$space-10;
	}

	&__video {
		max-width: 40rem;
	}
}
