@use '../settings/variables';

.o-container {
	max-width: variables.$max-width;
	margin-inline: auto;
}

.o-container-medium {
	max-width: variables.$max-width-element-2;
	margin-inline: auto;
}

.o-container-gral {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background-color: variables.$light-gray;
}
