@use '../settings/variables';
@use '../tools/mixins';

.a-button {
	width: 100%;
	padding-block: variables.$space-4;
	border: variables.$border-05 solid variables.$pure-red;
	border-radius: variables.$border-radius-2;
	font-weight: variables.$weight-bold;
	color: variables.$text-color-light;
	text-align: center;

	&:hover {
		background-color: variables.$background-pure-red;
	}

	&:focus-visible {
		outline-color: variables.$pure-red;

		@include mixins.focus-anchor;
	}

	&:active {
		border-color: variables.$red-200;
		background-color: variables.$background-red;
	}
}
