@use '../../settings/variables';
@use '../../tools/mixins';

.g-footer {
	background-color: variables.$background-gray;

	&__container {
		padding-inline: variables.$space-4;
		padding-block: variables.$space-8;
	}

	&__logo-social-container {
		gap: variables.$space-8;
		margin-block-end: variables.$space-8;

		@include mixins.center-flex(column);
	}

	&__social-media-container {
		display: flex;
		gap: variables.$space-8;
	}
}
